# Caminho para o Tomcat 10.1
TOMCAT_HOME=/home/luiz/Projects/UFF/proj_dev_web/apps/apache-tomcat-10.1.54

# Configuracao do banco
DB_URL=jdbc:mysql://127.0.0.1:3306/dbteste?useTimezone=true&serverTimezone=UTC
DB_USER=app
DB_PASS=app123

